# http://standards.freedesktop.org/desktop-entry-spec/desktop-entry-spec-1.0.html

[Desktop Entry]
Encoding=UTF-8
Name=MINT Core
Comment=MINT Core QT test network
GenericName=MINT Digital Currency QT client testnet network
Exec=mintrax-core.qt-testnet %u
Terminal=false
Type=Application
Icon=${SNAP}/share/pixmaps/mintrax_testnet.png
MimeType=x-scheme-handler/bib;
Categories=X-Office;X-Finance;
Keywords=internet;mintrax;tbib;core;wallet;qt;testnet;snap;launchpad;crypto;digital;currency;coin;token;
Version=1.0
